.sidebar {
  width: 360px;
}

.locationSection {
  margin-bottom: 40px;
}

.filterLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.inputWrapper {
  display: flex;
  align-items: center;
  padding: 18px 18px 18px 20px;
  border-radius: 12px;
  width: 360px;
  height: 56px;
  border: none;
  background: var(--inputs);
}

.iconDetails {
  width: 20px;
  height: 20px;
}

.locationInputField {
  border: none;
  border-radius: 12px;
  background: var(--inputs);
  border: none;
  outline: none;
  width: 100%;
  margin-left: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.filtersHeader {
  margin-bottom: 32px;
}

.filtersHeader > h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.filterSection {
  width: 360px;
  height: 272px;
  margin-bottom: 32px;
}

.filterSection > h4,
.filterSectionType > h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--main);
}

.filterOptionsWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
}

.filterOption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  transition: background-color 0.3s, color 0.3s;
  position: relative; 
}

.filterOption input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}



 .filterOption > .input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.filterOption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  transition: background-color 0.3s, color 0.3s;
}
.filterOptionIntegr {
  padding: 8px;
} 

.filterOption.selected {
  border: 1px solid var(--button);
}

.filterOption:hover {
  background-color: #e2e6ea;
}

.filterSectionType {
  width: 360px;
  height: 168px;
  margin-bottom: 40px;
}

.searchBtn {
  border-radius: 200px;
  width: 166px;
  height: 56px;
  background: var(--button);
  transition: background-color 0.3s;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}

.searchBtn:hover {
  background: var(--button-hover);
}

.warningMessage {
  font-family: var(--font-family);
  font-weight: 500;
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 20px;
}
