.campervanDetails {
  padding: 48px 64px 80px;
}

.carTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}
.carDetails {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  margin-bottom: 24px;
}
.carRating {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.iconDetails {
  width: 16px;
  height: 16px;
  fill: var(--rating);
}

.iconDetailsRev {
  width: 16px;
  height: 16px;
  fill: var(--badges);
}

.ratingText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main);
  margin-left: 4px;
}

.carLocation {
  display: flex;
  align-items: center;
}

.iconLocation {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.locationText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.carPrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 28px;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 2 * 24px) / 3);
  margin-bottom: 28px;
}
.carImgItem {
  width: 292px;
  height: 320px;
}
.carImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description {
  margin-bottom: 60px;
}