.nav {
    width: 206px;
    display: flex;
    justify-content: space-between;
  }
  
  .line {
    stroke-width: 1px;
    stroke: var(--gray-light);
  }
  
  .navLink {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
  }
  .navLink {
    position: relative;
    margin-right: 20px;
  }
  
  .activeLink {
    /* color: var(--button); */
  }
  
  .activeLink::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
    height: 6px;
    background-color: var(--button);
    width: 85px;
  }
  