.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
}

.revItem {
  margin-bottom: 44px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.avatar {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: var(--badges);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
  margin-right: 10px;
}

.reviewAuthor {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.reviewRating {
  display: flex;
  width: 96px;
  height: 16px;
}

.reviewText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.iconDetails {
  width: 16px;
  height: 16px;
  fill: var(--badges);
}

.iconDetails.filled {
  fill: var(--rating);
}
