
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Inter', sans-serif;

  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --button: #e44848;
  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --white: #ffffff;
}

#root {
  width: 1440px;
  margin: 0 auto;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
}

img {
  display: block;
  height: auto;
}
