.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/images/picture.png') center center / cover no-repeat;
  min-height: 696px;
  border: 1px solid #000;
  width: 1440px;
  height: 696px;
  /* filter: brightness(1,5);  */
}

.container {
  padding-left: 64px;
  padding-top: 260px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.btn {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background: var(--button);
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}
